  <footer class="footer">
        <div class="grid__row">
            <div class="grid__column-2-4">
                <h3 class="footer__heading">CHĂM SÓC KHÁCH HÀNG</h3>
                <ul class="footer__list">
                    <li class="footer__item">
                        <a href="" class="footer__item--link">Trung tâm trợ giúp</a>
                    </li>
                    <li class="footer__item">
                        <a href="" class="footer__item--link">Câu hỏi thường gặp</a>
                    </li>
                    <li class="footer__item">
                        <a href="" class="footer__item--link">Hướng dẫn mua hàng</a>
                    </li>
                </ul>
            </div>
            <div class="grid__column-2-4">
                <h3 class="footer__heading">THEO DÕI CHÚNG TÔI TRÊN</h3>
                <ul class="footer__list">
                    <li class="footer__item">
                        <a href="" class="footer__item--link">
                            <i class="footer__item__icon fab fa-facebook"></i>
                            Facebook</a>
                    </li>
                    <li class="footer__item">
                        <a href="" class="footer__item--link">
                            <i class="footer__item__icon fab fa-instagram-square"></i>
                            Instagram</a>
                    </li>
                    <li class="footer__item">
                        <a href="" class="footer__item--link">
                            <i class="footer__item__icon fab fa-linkedin"></i>
                            Linkedln</a>
                    </li>
                </ul>
            </div>
            <div class="grid__column-2-4">
                <h3 class="footer__heading">GIỚI THIỆU</h3>
                <ul class="footer__list">
                    <li class="footer__item">
                        <a href="" class="footer__item--link">Danh sách của hàng</a>
                    </li>
                    <li class="footer__item">
                        <a href="" class="footer__item--link">Khánh hàng thân thiết</a>
                    </li>
                    <li class="footer__item">
                        <a href="" class="footer__item--link">Chính sách bảo hành</a>
                    </li>
                </ul>
            </div>

            <div class="grid__column-2-4">
                <h3 class="footer__heading">LIÊN LẠC</h3>
                <ul class="footer__list">
                    <li class="footer__item">
                        <a href="" class="footer__item--link">Đặt hàng trực tuyến</a>
                    </li>
                    <li class="footer__item">
                        <a href="" class="footer__item--link">Chăm sóc khách hàng</a>
                    </li>
                    <li class="footer__item">
                        <a href="" class="footer__item--link">nhatt7021@gmail.com</a>
                    </li>
                </ul>
            </div>
            <div class="grid__column-2-4">
                <h3 class="footer__heading">VÀO CỦA HÀNG TRÊN ỨNG DỤNG</h3>
                <div class="footer__dowload">
                    <img class="footer__dowload--qr" src="/img/chart.png" alt="Dowload QR">

                    <div class="footer__dowload__app">
                       <a href="">
                        <img src="/img/appstore.png" alt="App Store"
                        class="footer__dowload__app__img">
                       </a>
                        <a href="">
                            <img src="/img/ggplay.png" alt="Google Play" 
                           class="footer__dowload__app__img">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </footer>