<header class="header">
    <div class="container">
        <div class="logo">
            <img class="logo_img" alt="Torganic logo" height="40"
                src="https://storage.googleapis.com/a1aa/image/duC-Og-0ssRMLAyAMoQ0YE47BzhLX5Bdw-ogFOSgiAI.jpg"
                width="40" />
            <span class="logo_name">
                Torganic
            </span>
        </div>
        <nav class="nav">
            <a class="nav_item" href="/">Home</a>
            <a class="nav_item" href="#">Flash Sale</a>
            <a class="nav_item" href="#">Blog</a>
            <a class="nav_item" href="#">Shop</a>
            <a class="nav_item" href="#">Contact</a>
        </nav>
        <div class="icons">

            <div class="search">
                <div class="search__container">
                    <div class="search-bar">
                        <input class="search-bar-input" type="text" placeholder="Tìm sản phẩm..."
                            onclick="showContent()">
                        <i class="fas fa-search"></i>
                    </div>
                    <div class="hidden-content" id="hiddenContent">
                        <div class="title">
                            <i class="fas fa-fire"></i>
                            <span>TÌM KIẾM NHIỀU NHẤT</span>
                        </div>
                        <div class="tags">
                            <span>Áo sơ mi</span>
                            <span>Áo khoác</span>
                            <span>Quần</span>
                            <span>Váy</span>
                            <span>Jumpsuit</span>
                            <span>Đầm</span>
                            <span>Đồ bộ</span>
                            <span>Phụ kiện</span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- </a> -->
            <a class="nav_icon" href="">
                <i class="fas fa-heart"></i>
            </a>
            {{!-- <a class="nav_icon" href="/register" id="registerLink">
                <i class="fas fa-user"></i>
            </a> --}}
            {{!-- <div class="nav_icon-wrapper" id="userSection">
                <a class="nav_icon" href="/register" id="registerLink">
                    <i class="fas fa-user"></i>
                </a>

                <div class="user-dropdown" id="userDropdown" style="display: none;">
                    <a href="#" class="nav_icon dropdown-toggle" id="userGreeting">
                        <i class="fas fa-user"></i>
                    </a>
                    <div class="dropdown-menu" id="dropdownMenu">
                        <a href="/account" class="dropdown-item">Tài khoản</a>
                        <button id="logoutBtn" class="dropdown-item">Đăng xuất</button>
                    </div>
                </div>
            </div> --}}

            <div class="nav_icon-wrapper">
                <div class="user-dropdown" id="userDropdown">
                    <a class="nav_icon dropdown-toggle" id="userGreeting">
                        <i class="fas fa-user"></i>
                    </a>
                    <div class="dropdown-menu" id="dropdownMenu">
                        <!-- Nội dung thay đổi bằng JavaScript -->
                    </div>
                </div>
            </div>


            <a class="nav_icon" href="/shoppingCart">
                <i class="fas fa-shopping-cart"></i>
            </a>

            <label for="nav__mobile__input" class="nav__bars-btn"><i class="fas fa-bars"></i></label>
            <input type="checkbox" class="nav__input" id="nav__mobile__input">
            <label for="nav__mobile__input" class="nav__overlay"></label>
            <nav class="nav__mobile">
                <div class="nav__mobile__header">
                    <label for="nav__mobile__input" class="nav__mobile__close">
                        <i class="fas fa-times"></i>
                    </label>
                </div>
                <div class="contain__mobile">
                    <div class="mobile__list">
                        <a href="#" class="mobile">
                            <i class="fas fa-plus mobile__icon"></i>
                            <span>New Chat</span>
                        </a>
                        <a href="#" class="mobile">
                            <i class="fas fa-code mobile__icon"></i>
                            <span>Image To App</span>
                        </a>
                        <a href="#" class="mobile">
                            <i class="fas fa-bookmark mobile__icon"></i>
                            <span>Bookmarks</span>
                        </a>
                        <a href="#" class="mobile">
                            <i class="fas fa-history mobile__icon"></i>
                            <span>History</span>
                        </a>
                    </div>
                    <div class="change__icon">
                        <i class="fas fa-sun"></i>
                    </div>
                </div>
            </nav>
        </div>

    </div>
</header>