
<main class="main__login">
    <div class="form-container">
        <div class="tabs">
            <a href="/login"> <button class="btn__login active">Login</button></a>
            <a href="/register"><button class="btn__login">Register</button></a>
        </div>
         <form>
            <div class="mb-4">
                <label class="label" for="full-name">Full name</label>
               <div class="input-container">
                <input class="input" id="full-name" type="text" placeholder="Huỳnh Thành Đạt"/>
               </div>
               <div class="div_error"></div>
            </div>
            <div class="mb-4">
                <label class="label" for="email">Email</label>
                <div class="input-container">
                    <input class="input" id="email" type="email" />
                    <!-- <i class="fas fa-envelope"></i> -->
                </div>
                <div class="div_error"></div>
            </div>
            <div class="checkbox-container">
                <label  class="tick">
                 <input class="" style="margin-right: 5px;" type="checkbox"/>
                 Remember for 30 days
                </label>
                <a href="#">
                 Forgot Password?
                </a>
               </div>
            <div class="mb-4">             
             <button class="button" >Create an account</button>
            </div>
        </form> 
       
        
    </div>
</main>