<main class="login-main">
    <div class="login-container">
        <div class="tabs">
            <a href="/login"> <button class="login-buton_header active">Login</button></a>
            <a href="/register"><button class="login-buton_header">Register</button></a>
        </div>
         <form>
            <div class="login-input">
                <label class="label" for="full-name">Full name</label>
               <div class="login-input__container">
                <input class="login-input__element" id="full-name" type="text" placeholder="Huỳnh Thành Đạt"/>
               </div>
               <div class="login-error"></div>
            </div>
            <div class="login-input">
                <label class="label" for="email">Email</label>
                <div class="login-input__container">
                    <input class="login-input__element" id="email" type="email" />
                    <!-- <i class="fas fa-envelope"></i> -->
                </div>
                <div class="login-error"></div>
            </div>
            <div class="checkbox-container">
                <label  class="tick">
                 <input class="" style="margin-right: 5px;" type="checkbox"/>
                 Remember for 30 days
                </label>
                <a href="#">
                 Forgot Password?
                </a>
               </div>
            <div class="login-input__container">             
             <button class="login-button" >Create an account</button>
            </div>
        </form>       
    </div>
</main>